<div id="bg"></div>
<div class="container d-flex justify-content-center" style="margin-top: 150px;margin-bottom: 150px;">
  <div class="content d-flex gap-5">
    <div>
          <div class="text">
            Contact us
          </div>
          <p>Feel Free to contact us any time. We will get back to you as soon as we can!.</p>


          <form action="#">
            <div class="field" style="height: fit-content;">
              <div class="d-flex flex-column justify-content-between gap-5">

                <input type="text" class="form-control input form-group" placeholder="Name" />
                <input type="text" class="form-control input form-group" placeholder="Email" />
                <textarea class="form-control input form-group" placeholder="Message"></textarea>
                <!-- <button class="contact_form_submit button">Send</button> -->
                <button class="align-self-end">
                  <div class="svg-wrapper-1">
                    <div class="svg-wrapper">
                      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                          d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                          fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <span>Send</span>
                </button>
              </div>
            </div>
          </form>
    </div>
    <div>
      <div class="contact_info_sec">
        <div class="d-flex flex-column gap-3">
          <h4>Contact Info</h4>
          <div class="d-flex info_single align-items-center">
            <i class="fas fa-headset"></i>
            <span><i class="bi bi-telephone-fill"></i> +91 8009 054294</span>
          </div>
          <div class="d-flex info_single align-items-center">
            <i class="fas fa-envelope-open-text"></i>
            <span><i class="bi bi-envelope-fill"></i> info@flightmantra.com</span>
          </div>
          <div class="d-flex info_single align-items-center">
            <i class="fas fa-map-marked-alt"></i>
            <span><i class="bi bi-geo-fill"></i> 1000+ Travel partners and 65+ Service city across India, USA, Canada &
              UAE</span>
          </div>
        </div>
        <div class="typeContainer">
          <div class="typewriter">
            <div class="slide"><i></i></div>
            <div class="paper"></div>
            <div class="keyboard"></div>
          </div>
        </div>
        </div>
    </div>


  </div>
  <!-- <div class="right" >
    <img src="/assets/Images/pexels-cottonbro-studio-3738095.jpg" style="width: 340px;height:480px;" alt="">
  </div> -->
</div>


<!-- <section class="map_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="map_inner">
          <h4>Find Us on Google Map</h4>

          <div class="map_bind">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13805.504853136416!2d29.935223673059982!3d31.20011960288067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1453c5c48f9bfa9f%3A0x4b47c7755b5f51de!2sAlexandria%2C%20Qesm%20Al%20Gomrok%2C%20Al%20Gomrok%2C%20Alexandria%20Governorate%2C%20Egypt!5e0!3m2!1sen!2sus!4v1652873824175!5m2!1sen!2sus"
              width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->