.notification-container {
  position: relative;
}

.notification-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  height: 120px;
  overflow-y: auto;
}

.notification-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-dropdown li {
  padding: 5px;
  background-color: white;
  min-width: 210px;
}
.notification-dropdown p {
  margin: 0;
}

.notification-dropdown .data {
  font-weight: bold;
  color: #333;
  font-size: 10px;
}

.notification-dropdown .timestamp {
  color: #888;
  font-size: 8px;
}
.notification-icon {
  position: relative;
  cursor: pointer;
}

.notification-dot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
.notification-dropdown::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 5px;
}

.notification-dropdown::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.notification-dropdown::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}
