<div class="notification-container">
  <div
    class="notification-icon"
    id="notification"
    (click)="showNotifications()"
  >
    <span class="notification-dot" *ngIf="hasUnreadNotifications"></span>
    <i class="bi bi-bell"></i>
  </div>

  <div class="notification-dropdown" *ngIf="showDropdown">
    <ul>
      <li *ngFor="let notification of notifications">
        <div class="row me-0">
          <div class="col-2">
            <i class="bi bi-plus-circle"></i>
            <!-- <i class="bi bi-x-circle-fill"></i> -->
          </div>
          <div class="col-9">
            <p class="data">{{ notification.data }}</p>
            <p class="timestamp">{{ notification.timestamp | timeAgo }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
