<div class="notification-container">
  <div
    class="notification-icon"
    id="notification"
    (click)="showNotifications()"
  >
    <span class="notification-dot" *ngIf="hasUnreadNotifications"></span>
    <i class="bi bi-bell"></i>
  </div>

  <div class="notification-dropdown" *ngIf="showDropdown">
    <ul>
      <li *ngFor="let notification of notifications">
        <div class="row me-0">
          <div class="col-2">
            <i
              *ngIf="notification.data == 'cancel'"
              class="bi bi-x-circle-fill"
            ></i>
            <i *ngIf="notification.data == 'Add'" class="bi bi-plus-circle"></i>
          </div>
          <div class="col-9 px-0">
            <p class="data">
              {{
                notification.data == "cancel"
                  ? "Customer cancel his order"
                  : "You have a new order"
              }}
            </p>
            <p class="timestamp">{{ notification.timestamp | timeAgo }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
