<div class="wrapperMain">
  <section id="amazingTeam" class="clear">
    <div class="containerContent">
      <div class="set_size_section1">
        <h2 class="services_h2 center">OUR AMAZING TEAM</h2>
        <p class="services_p center">lorem ipsum lorem ipsum lorem</p>
        <article class="article_center4 d-flex ">
          <div class="md-modal md-effect-9" id="modal-9">
            <div class="md-content">
              <h3>Contact information</h3>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <article class="section4_article article1">
                <div class="itemli">
                  <div class="ch-item">
                    <!-- <img src="images/ourAmazingTeam_1.png"/>-->
                    <div class="ch-info">
                      <div class="ch-info-front ch-img-1">
                      </div>
                      <div class="ch-info-back">
                        <h3>Brain</h3>
                        <!--<p>Visit my personal<a class="md-trigger">Website</a></p>-->
                        <p>Contact information<a class="md-trigger" id="idPerson1">Here</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Rico Massimo</h3>
                <p>Coder</p>
                <ul class="icon">
                  <li class="icon_twitter "></li>
                  <li class="icon_fb"></li>
                  <li class="icon_google"></li>
                </ul>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <article class="section4_article">
                <div class="itemli">
                  <div class="ch-item">
                    <!-- <img src="images/ourAmazingTeam_1.png"/>-->
                    <div class="ch-info">
                      <div class="ch-info-front ch-img-2"></div>
                      <div class="ch-info-back">
                        <h3>Heart</h3>
                        <p>Contact information<a class="md-trigger" id="idPerson2">Here</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Kimberly Thompson</h3>
                <p>Marketer</p>
                <ul class="icon">
                  <li class="icon_twitter "></li>
                  <li class="icon_fb"></li>
                  <li class="icon_pinterest"></li>
                </ul>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <article class="section4_article">
                <div class="itemli">
                  <div class="ch-item">
                    <div class="ch-info">
                      <div class="ch-info-front ch-img-3"></div>
                      <div class="ch-info-back">
                        <h3>Soul</h3>
                        <p>Contact information<a class="md-trigger" id="idPerson3">Here</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Uku Mason</h3>
                <p>Graphic Designer</p>
                <ul class="icon">
                  <li class="icon_google "></li>
                  <li class="icon_pinterest"></li>
                </ul>
              </article>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="md-overlay"></div>
  </section>




</div>