<div class="wrapperMain">
  <section id="amazingTeam" class="clear">
    <div class="containerContent">
      <div class="set_size_section1">
        <h2 class="services_h2 center">
          {{ "TopSellerSection.header" | translate }} 
        </h2>
        <p class="services_p center">lorem ipsum lorem ipsum lorem</p>
        <article class="article_center4 d-flex">
          <div class="md-modal md-effect-9" id="modal-9"></div>
          <div class="col-sm-6 col-md-4" *ngFor="let seller of topSellers">
            <div class="thumbnail">
              <article class="section4_article article1">
                <div class="itemli">
                  <div class="ch-item">
                    <div class="ch-info">
                      <div
                        class="ch-info-front ch-img-1"
                        [style.background-image]="
                          'url(' + seller.sellerImage + ')'
                        "
                      ></div>
                      <div class="ch-info-back">
                        <h3>{{ seller.sellerName }}</h3>
                        <p>
                          {{ "TopSellerSection.products" | translate }}
                          <a class="md-trigger" id="idPerson1">{{
                            seller.sellerProductsCount
                          }}</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>{{ seller.sellerName }}</h3>
                <p>{{ seller.role }}</p>
                <!-- <ul class="icon">
                  <li class="icon_twitter"></li>
                  <li class="icon_fb"></li>
                  <li class="icon_google"></li>
                </ul> -->
              </article>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="md-overlay"></div>
  </section>
</div>
