<div class="col-md-12">
  <div class="wsk-cp-product">
    <div
      class="wsk-cp-img"
      [routerLink]="['/user/productDetails', product._id]"
    >
      <img [src]="product.images[0]" alt="Product" class="img-responsive" />
    </div>
    <div class="wsk-cp-text">
      <div class="title-product">
        <h3>{{ product.name }}</h3>
      </div>
      <div class="category-prod text-muted">
        <p>
          {{ product.category }}
        </p>
      </div>
      <div class="card-footer">
        <div class="wcf-left">
          <ng-container *ngIf="product.priceDiscount > 0; else noDiscount">
            <span class="discount-price price"
              >${{ product.price - product.priceDiscount }}</span
            >
            <span class="original-price">${{ product.price }}</span>
          </ng-container>
          <ng-template #noDiscount>
            <span class="price">${{ product.price }}</span>
          </ng-template>
        </div>
        <div class="wcf-right d-flex">
          <a class="my-auto" (click)="addToCart(product._id)"
            ><i class="bi bi-cart-plus fs-4"></i
          ></a>
          <label class="favouriteContainer my-auto ms-1">
            <input
              type="checkbox"
              (click)="toggleFavourite($event)"
              [checked]="isFavourite"
            />
            <svg
              id="Layer_1"
              version="1.0"
              viewBox="0 0 24 24"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <path
                d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z"
              ></path>
            </svg>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
