.Parent{
  overflow: hidden;
  height: 100vh;
}

svg {
  margin: 0;
  padding: 0;
	transform: scale(1.2);
	transition: transform 5s;
	will-change: transform;
  height: 100vh;
}

svg:hover {
	transform: scale(1.1);
}

#Sfondo {
  animation-duration: 25s;
  animation-name: translateBg;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#Fronte {
  animation-duration: 18s;
  animation-name: translateFr;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#Mano_e_ago {
  animation-duration: 10s;
  animation-name: hand;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#Uomo_e_nodi {
  animation-duration: 5s;
  animation-name: man;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#filo1,
#filo2 {
  animation-duration: 10s;
  animation-name: thread;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes thread {
  from {
    transform: scaleX(1);
		transform-origin: center center;
  }

  to {
    transform: scale(1.1, 1.02);
  }
}

@keyframes man {
  from {
    transform: translateX(.5em);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes hand {
  from {
    transform: rotate(-2deg);
    transform-origin: right bottom;
  }

  to {
    transform: rotate(0);
  }
}

@keyframes translateBg {
  from {
    transform: translateX(-4%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes translateFr {
  from {
    transform: translateX(4%);
  }

  to {
    transform: translateX(0);
  }
}

.cssbuttons-io-button {
  background: #3C486B;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}