.filter-item-title {
  /* font-weight: bold; */
  font-size: 16px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.filter-checkbox-item{
  width: 100%;
  height: 35px;
}

.filter-checkbox-value{
  display: none;
}

.filter-checkbox-value:checked + .filter-checkbox-text:before {
  background: #FF9800;
  border-color: #FF9800;
}

.filter-checkbox-text {
  position: relative;
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  font-size: 15px;
  padding-left: 30px;
  cursor: pointer;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s;
}

.filter-checkbox-text::before {
  transition: all .2s;
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  border-radius: 2px;
  border: 2px solid #747474;
}

.filter-item-quantity{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f1f1f1;
  text-align: center;
  line-height: 25px;
  font-size: 11px;
}

/* price filter */

.price-filter input[type=range] {
    position: absolute;
    width: 100%;
    height: 2px; 
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-filter input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-filter input[type=range]:active,
.price-filter input[type=range]:focus {
  outline: 0;
}


/* Style toddler input range */

.price-filter input[type=range]::-webkit-slider-thumb { 
  /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: #000;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-filter input[type=range]::-moz-range-thumb { 
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #000;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-filter input[type=range]::-ms-thumb  { 
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #000;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-filter input[type=range]::-webkit-slider-runnable-track { 
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 5px;
}

.price-filter input[type=range]::-moz-range-track { 
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 5px;
}


.price-filter input[type=range]::-ms-track {
  width: 188px;
  height: 2px; 
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  color: transparent;
  border-radius: 5px;
  cursor: pointer;
  background: #f5f5f5;
}

/* Style for input value block */
.price-wrap {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 7px;
}

.price-wrap-1, 
.price-wrap-2 {
  display: flex;
}

.price-wrap_line {
  margin: 0 10px;
}

.price-wrap #min, 
.price-wrap #max {
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background:  0;
  border: 0;
  outline: 0;
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

