<div class="col-12 h-100" style="padding: 90px 15px 0; ">
  <div class="categories-filter" style="border-bottom: 1px solid #F2F2F2;">
    <h6 class="filter-item-title">categories</h6>
    <div class="filter-category">
      <div class="filter-checkbox-item d-flex justify-content-between" *ngFor="let category of categories">
        <input type="checkbox" class="filter-checkbox-value" name="filter-category-checkbox" id="filter-category{{category.id}}" (click)="categoriesFilter()">
        <label for="filter-category{{category.id}}" class="filter-checkbox-text">{{ category.name }}</label>
        <div class="filter-item-quantity">{{ category.productNum }}</div>
      </div>
    </div>
  </div>
  <div class="filter-price pt-2" style="border-bottom: 1px solid #F2F2F2;">
    <h6 class="filter-item-title">Price</h6>
    <div class="price-filter position-relative pt-3">
      <input type="range" step='5' [min]="minPrice" [max]="maxPrice" [(ngModel)]="minInputPrice" (ngModelChange)="updateMaxInputPrice()">
      <input type="range" step='5' [min]="minPrice" [max]="maxPrice" [(ngModel)]="maxInputPrice" (ngModelChange)="updateMinInputPrice()">
    </div>

    <div class="price-wrap mt-4">
      <div class="price-wrap-1">
        <p class="min">$ {{ minInputPrice }}</p>
      </div>
      <div class="price-wrap_line">-</div>
      <div class="price-wrap-2">
        <p class="max">$ {{ maxInputPrice }}</p>
      </div>
    </div>
  </div>
  <div class="rating-price py-2" style="border-bottom: 1px solid #F2F2F2;">
    <h6 class="filter-item-title">Rating</h6>
    <div class="text-center">
      <i class="ratingStar bi bi-star text-warning mx-1 fs-4" id="1" (click)="ratingFilter(1)"></i>
      <i class="ratingStar bi bi-star text-warning mx-1 fs-4" id="2" (click)="ratingFilter(2)"></i>
      <i class="ratingStar bi bi-star text-warning mx-1 fs-4" id="3" (click)="ratingFilter(3)"></i>
      <i class="ratingStar bi bi-star text-warning mx-1 fs-4" id="4" (click)="ratingFilter(4)"></i>
      <i class="ratingStar bi bi-star text-warning mx-1 fs-4" id="5" (click)="ratingFilter(5)"></i>
    </div>
  </div>
</div>