


.threadsAndBeads{
    text-decoration: none;
    color: #040f0f;
    font-family: 'Delicious Handrawn', cursive;
  }
  .forget-password-container-all{
    width: 100%;
  }
  .form-container{
    width: 100%;
    position: relative;
    /* filter: blur(2px); */
  } 
  
  .form {
      /* position: absolute; */
      padding: 0 50px;
      display: flex;
      min-height: 450px;
      width: 70%;
      align-items: center;
      justify-content: center;
      background-color: #f6f5f7;
    }
    
  
    .form h2 {
      font-family: "Montserrat";
      font-size: 3rem;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 20px;
      color: #be6a56;
    }
    
    
    .form input {
      display: block;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 25px;
      height: 3rem;
      font-family: "Montserrat";
      font-size: 1.5rem;
      padding-left: 15px;
      border: none;
      background-color: rgba(199, 197, 197, 0.425);
      outline: none;
      border-radius: 0.8rem;
    }
    
    .form input::placeholder {
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.658);
    }
    
    .form button {
      padding: 10px 50px;
      border: none;
      outline: none;
      font-family: "Montserrat";
      font-size: 18px;
      background-color:#456268;
      cursor: pointer;
      color: #f6f5f7;
      font-size: 1.3rem;
    }
    
    .error{
      display: block;
      width: fit-content;
      margin-left: 5px;
      font-family: "Montserrat";
      font-size: 14px;
      padding-left: 25px;
      color: red;
      text-align: center;
      position: relative;
    }
  
    button {
      display: flex;
      align-items: center;
      font-family: inherit;
      font-weight: 500;
      font-size: 17px;
      padding: 0.8em 1.3em 0.8em 0.9em;
      color: white;
      /* background: #ad5389;
      background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
      border: none;
      letter-spacing: 0.05em;
      border-radius: 16px;
    }
    
    button img {
      margin-right: 3px;
      width:24px;
      height:24px;
  
      transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    
    button span {
      transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    
    button:hover img {
      transform: translateX(5px) rotate(90deg);
    }
    
    button:hover span {
      transform: translateX(7px);
    }