
  <div class="box">
    <nav class="shelf">
      <a routerLinkActive="active" routerLink="/home" class="book home-page">Home page</a>
      <a routerLinkActive="active" routerLink="/about" class="book about-us">About us</a>
      <a routerLinkActive="active" routerLink="/contact" class="book contact">Contact</a>
      <a routerLinkActive="active" routerLink="/faq" class="book faq">F.A.Q.</a>


      <span class="book not-found"></span>

      <span class="door left"></span>
      <span class="door right"></span>
    </nav>
    <h1>Error 404</h1>
    <p>Oops!! The page you're looking for can't be found</p>
    </div>
