<div class="main ">
  <div class="footer ">
    <!-- <app-bubble></app-bubble> -->
    <div class="content d-flex border-bottom">
      <div class="container text-md-start">
        <!-- Grid row -->
        <div class="row d-flex mt-3">
          <!-- Grid column -->
          <div class="row col-md-6 col-sm-12 d-flex justify-content-start">
            <div class="col-md-6 col-sm-12 mx-auto mb-4 text-center">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4 fs-2">Useful links</h6>
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Settings</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-sm-12 mx-auto mb-md-0 mb-4 text-center">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4 fs-2">Contact</h6>
              <p><i class="bi bi-house me-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="bi bi-envelope-heart me-3"></i>
                info@example.com
              </p>
              <p><i class="bi bi-telephone me-3"></i> + 01 234 567 88</p>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid row -->
        </div>
      </div>
    </div>

    <svg style="position: fixed; top: 100vh">
      <defs>
        <filter id="blob">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
            result="blob"
          />
        </filter>
      </defs>
    </svg>
  </div>
</div>
