<div class="parent">
  <div class="wrapper d-flex flex-wrap" >
    <div class="product-img col-12 col-md-6 col-lg-5">
      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info col-12 col-md-6 col-lg-7">
      <div class="product-text">
        <h1>Harvest Vase</h1>
        <h2>by studio and friends</h2>
        <p>Harvest Vases are a reinterpretation of peeled fruits and vegetables as functional objects. The
          surfaces appear to be sliced and pulled aside, allowing room for growth.
        </p>
          <p>
            <span>78</span>$
          </p>
          <p class="product-available">
            In stock. <span class="product-extended"><a style="font-size: 15px;">Buy Extended Warranty</a></span>
          </p>
          <div class="product-rating">
            <p class="text-uppercase me-5 d-inline text-dark">Rating</p>
            <i class="bi bi-star rating" star-data="1"></i>
            <i class="bi bi-star rating" star-data="2"></i>
            <i class="bi bi-star rating" star-data="3"></i>
            <i class="bi bi-star" star-data="4"></i>
            <i class="bi bi-star" star-data="5"></i>
          </div>
      </div>
      <div>
        <div class="product-quantity">
          <label for="product-quantity-input" class="product-quantity-label">Quantity</label>
          <div class="product-quantity-subtract">
            <i class="bi bi-caret-left-fill"></i>
          </div>
          <div>
            <input type="text" id="product-quantity-input" placeholder="0" value="0" />
          </div>
          <div class="product-quantity-add">
            <i class="bi bi-caret-right-fill"></i>
          </div>
        </div>
      </div>
      <div class="product-price-btn d-flex justify-content-end">
        <button type="button" class="addtoCartBtn">Add to cart</button>
        <button type="button" class="addtoFavoriteBtn">Add to Favorite</button>
      </div>
    </div>
  </div>
</div>