<nav
  class="navbar navbar-expand-lg fixed-top p-lg-3 py-3"
  (scroll)="onWindowScroll()"
>
  <div class="container-fluid w-100">
    <a href="" class="nav-logo threadsAndBeads"
      ><h1 class="logo">Threads & Beads</h1></a
    >

    <!-- <div class="search my-auto">
      <i class="bi bi-search"></i>
    </div> -->
    <!-- <div class="search my-auto">
      <div class="icon-container" (click)="toggleSearch()">
        <i class="bi bi-search"></i>
      </div>
      <input type="text" [(ngModel)]="query" (input)="search()" [ngClass]="{ 'd-none': !showSearch }" />
    </div> -->
    <div class="search my-auto">
      <div class="icon-container" (click)="toggleSearch()">
        <i class="bi bi-search"></i>
      </div>
      <input
        type="text"
        [(ngModel)]="query"
        (input)="search()"
        [ngClass]="{ 'd-none': !showSearch }"
      />
      <div class="dropdown" [ngClass]="{ 'd-none': !showDropdown }">
        <div class="product-results" *ngIf="products.length">
          <div>
            Products
            <div class="result" *ngFor="let product of products">
              {{ product.name }}
            </div>
          </div>
        </div>
        <div class="workshop-results" *ngIf="workshops.length">
          <div>
            Workshops
            <div class="result" *ngFor="let workshop of workshops">
              {{ workshop.title }}
            </div>
          </div>
        </div>
        <div class="no-results" *ngIf="!products.length && !workshops.length">
          No results found.
        </div>
      </div>
    </div>
    <div class="user-icons d-flex justify-content-between my-auto">
      <a class="user-link" href="#"><i class="bi bi-basket2-fill"></i></a>
      <a class="user-link toggle_btn" type="button" (click)="handleClick()">
        <i class="bi bi-person-circle"></i>
      </a>
      <a class="user-link" href="#"><i class="bi bi-heart-fill"></i></a>
    </div>

    <input
      class="navbar-toggler"
      type="checkbox"
      id="checkbox"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    />
    <label for="checkbox" class="toggle">
      <div class="bars" id="bar1"></div>
      <div class="bars" id="bar2"></div>
      <div class="bars" id="bar3"></div>
    </label>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item nav-item-logo">
          <a href="" class="nav-item threadsAndBeads"
            ><h1 class="logo">Threads & Beads</h1></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sellers">Sellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workshops">Workshops</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-sidebar></app-sidebar>
