@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Great+Vibes&family=Oswald:wght@700&display=swap');

.navbar{
  background-color: rgba(255, 255, 255, 0.5);
}

.threadsAndBeads{
  font-family: 'Delicious Handrawn', cursive;
  text-decoration: none;
  color: #040f0f;
}

.user-icons .user-link,
.navbar-nav .nav-link{
  color: #040f0f;
}

.navbar-toggler-icon{
  border-color: #040f0f;
}

.navbar.scrolled .navbar-nav .nav-link,
.navbar.scrolled .threadsAndBeads,
.navbar.scrolled .user-link,
.navbar.scrolled .search,
.navbar.scrolled .navbar-toggler-icon{
  color: white;
}

.user-icons, .search {
  width: 80px
}

li{
  margin: auto 8px;
}

.navbar.scrolled {
  background-color: #456268;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 3px;
  background-color: #040f0f;
  border-radius: 4px;
}

.navbar.scrolled .bars{
  background-color: white;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

@media(min-width: 992px){
  .navbar-toggler,
  .nav-logo,
  .toggle{
    display: none;
  }

  .user-icons {
    order: 3;
  }

  .navbar-collapse{
    flex-grow: unset;
  }
}

@media(max-width: 991px){
  .nav-item-logo{
    display: none;
  }

  .user-icons{
    margin: auto 30px;
  }

  .search{
    margin-left: auto;
    width: fit-content;
  }

  .nav-item{
    padding: 5px 10px;
    border-bottom: 1px solid #D0E8F2;
  }

  .nav-item:last-of-type{
    border: none;
  }
}