<nav
  class="navbar navbar-expand-lg fixed-top p-lg-3 py-3"
  (scroll)="onWindowScroll()"
>
  <div class="container-fluid w-100">
    <a href="" class="nav-logo threadsAndBeads"
      ><h1 class="logo">Threads & Beads</h1></a
    >
    <app-search-bar></app-search-bar>
    <!-- <div class="search my-auto">
      <input
        id="search-box"
        type="text"
        class="search-box"
        name="q"
        [(ngModel)]="query"
        (input)="search()"
        #searchBox
      />
      <label for="search-box"
        ><span class="glyphicon glyphicon-search search-icon">
          <i class="bi bi-search"></i></span
      ></label>
      <input type="submit" id="search-submit" />

      <div
        class="dropdown"
        [ngClass]="{ 'd-none': !showDropdown }"
        [style.width.px]="searchBox.offsetWidth"
        (mousedown)="keepDropdownOpen()"
      >
        <div class="product-results" *ngIf="products.length">
          <div class="result" *ngFor="let product of products">
            <a href="" class="text-decoration-none">
              <div class="d-flex gap-2">
                <i class="bi bi-box-seam" style="color: #456268"></i>
                <div class="d-flex flex-column">
                  <P
                    class="fw-bold"
                    style="color: black; margin-bottom: -3px; font-size: 12px"
                    >{{ product.name }}</P
                  >
                  <p class="mb-0" style="font-size: 10px; color: #456268">
                    product
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <hr class="center-ball" />

        <div class="product-results" *ngIf="workshops.length">
          <div class="result" *ngFor="let workshop of workshops">
            <a
              routerLink="/about"
              class="text-decoration-none"
              (click)="navigate()"
            >
              <div class="d-flex gap-3">
                <i
                  class="bi bi-person-workspace"
                  style="color: #456268; width: 10px; height: 10px"
                ></i>
                <div class="d-flex flex-column">
                  <P
                    class="fw-bold"
                    style="color: black; margin-bottom: -3px; font-size: 12px"
                    >{{ workshop.title }}</P
                  >
                  <p class="mb-0" style="font-size: 10px; color: #456268">
                    workshop
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div
          class="no-results mx-2"
          *ngIf="!products.length && !workshops.length"
        >
          No results found.
        </div>
      </div>
    </div> -->
    <div class="user-icons d-flex justify-content-between my-auto">
      <a class="user-link"><i class="bi bi-basket2-fill"></i></a>
      <a class="user-link toggle_btn" type="button" (click)="handleClick()">
        <i class="bi bi-person-circle"></i>
      </a>
      <a class="user-link" href="#"><i class="bi bi-heart-fill"></i></a>
    </div>

    <input
      class="navbar-toggler"
      type="checkbox"
      id="checkbox"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    />
    <label for="checkbox" class="toggle">
      <div class="bars" id="bar1"></div>
      <div class="bars" id="bar2"></div>
      <div class="bars" id="bar3"></div>
    </label>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item nav-item-logo">
          <a href="" class="nav-item threadsAndBeads"
            ><h1 class="logo">Threads & Beads</h1></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sellers">Sellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workshops">Workshops</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-sidebar></app-sidebar>
