@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Great+Vibes&family=Oswald:wght@700&display=swap');

.navbar{
  background-color: rgba(255, 255, 255, 0.5);
}

.threadsAndBeads{
  font-family: 'Delicious Handrawn', cursive;
  text-decoration: none;
  color: #040f0f;
}

.user-icons .user-link,
.navbar-nav .nav-link{
  color: #040f0f;
}

.navbar-toggler-icon{
  border-color: #040f0f;
}

.navbar.scrolled .navbar-nav .nav-link,
.navbar.scrolled .threadsAndBeads,
.navbar.scrolled .user-link,
.navbar.scrolled .search,
.navbar.scrolled .navbar-toggler-icon{
  color: white;
}

.user-icons, .search {
  width: 80px
}

li{
  margin: auto 8px;
}

.navbar.scrolled {
  background-color: #456268;
}

@media(min-width: 992px){
  .nav-logo{
    display: none;
  }

  .user-icons {
    order: 3;
  }

  .navbar-collapse{
    flex-grow: unset;
  }
}

@media(max-width: 991px){
  .nav-item-logo{
    display: none;
  }

  .user-icons{
    margin: auto 30px;
  }

  .search{
    margin-left: auto;
    width: fit-content;
  }
}