@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Great+Vibes&family=Oswald:wght@700&display=swap");
@import "../sidebar/sidebar.component.css";
.logo {
  font-family: "Delicious Handrawn", cursive;
}

li {
  margin: auto 8px;
}

.navbar{
  background-color: rgba(255, 255,255, 0.5);
}
.threadsAndBeads{
  text-decoration: none;
  color: #040f0f;
}

.navbar.scrolled .threadsAndBeads,
.navbar.scrolled .search {
  color: white;
}

.user-icons,
.search {
  width: 40px;
}

.navbar-light .navbar-brand {
  /* color: #040f0f; */
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

/* .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #040f0f;
} */

.navbar-light .navbar-nav .nav-link {
  color: #040f0f;
}

.navbar-toggler {
  background: #040f0f;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
}

/* .nav-link.active,.nav-link:focus{
  color: #040f0f;
} */

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #040f0f;
}

.navbar.scrolled {
  background-color: #456268;
  /* color: white; */
  /* background-color: #B7472A; */
}

.navbar.scrolled .navbar-nav .nav-link {
  color: white;
}
