.notification-container {
  position: relative;
}

.notification-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.notification-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-dropdown li {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  min-width: 200px;
  font-size: 12px;
}

.notification-icon {
  position: relative;
  cursor: pointer;
}

.notification-dot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
