<div *ngIf="orders.length === 0">
  <div class="col-12 col-md-6 mx-auto d-flex flex-column justify-content-center mt-3">
    <img src="../../../assets/Images/emptycart.jpg" class="empty-cart-img mx-auto col-5 mt-5" alt="Empty Cart">
    <p class="fs-5 fw-bold mb-0 pt-0 mt-3 text-center">No Orders yet</p>
    <p class="text-center ">It looks like you haven't made any order yet</p>
    <button class="shop" routerLink="/products">{{ "emptyCart.startShopping" | translate }}</button>
  </div>
</div>
<div class="container h-auto">
  <h1 class="text-center mb-3" *ngIf="orders.length > 0">Your Orders</h1>

  <div id="table-container" *ngIf="orders.length > 0">
    <table class="col-4 col-sm-4 col-md-8 col-lg-10 w-100">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Total Price</th>
          <th>Order Status</th>
          <th>Order Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of orders">
          <td>{{ orderItem._id }}</td>
          <td>{{ orderItem.totalPrice }}$</td>
          <td>{{ orderItem.orderStatus }}</td>
          <td>{{ orderItem.orderDate | date:'dd, MMMM yyyy' }}</td>
          <td>
            <a
              class="Remove text-light"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="selectedOrder = orderItem"
              (click)="setActiveStatus(selectedOrder?.orderStatus)"
              >Details</a
            >
                      <a
            href="#myModal"
            class="Cancel text-light"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
            (click)="selectedOrder = orderItem"
            *ngIf="selectedOrder?.orderStatus !== 'shipped' && selectedOrder?.orderStatus !== 'delivered'"
            >Cancel</a
          >
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div
  class="modal fade h-60 mx-auto"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #exampleModal
>
  <div class="modal-dialog d-flex justify-content-center" style="border: none !important;">
    <div class="modal-content w-100">
      <div class="card-container text-center">

        <div class="d-sm-flex justify-content-center">
          <div class="card w-100">
            <div class="card-header bg-white">
              <div class="row justify-content-between mt-2">
                <div class="col">
                  <p class="text-muted">
                    Order ID
                    <span class="font-weight-bold text-dark">{{ selectedOrder?._id }}</span>
                  </p>
                  <p class="text-muted">
                    Place On
                    <span class="font-weight-bold text-dark"
                      >{{ selectedOrder?.orderDate | date:'dd, MMMM yyyy' }}</span
                    >
                  </p>
                </div>
                <button
                type="button"
                class="btn-close mt-0 px-2"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>

              </div>
            </div>
            <div class="card-body">
              <div class="media flex-column flex-sm-row" *ngFor="let product of selectedOrder?.products">
                <div class="media-body">
                  <h5 class="bold">{{ product.productData?.data.name }}</h5>
                  <p class="text-muted">Qt: {{ product.quantity }}</p>
                  <h4 class="mt-3 mb-4 bold">
                    <span class="mt-5">{{ selectedOrder?.totalPrice }}$</span>
                    <span class="small text-muted"> via {{selectedOrder?.payment_method}} </span>
                  </h4>
                </div>
                <img
                class="align-self-center img-fluid"
                src="{{ product?.product?.image }}"
                width="150"
                height="150"
              />
              </div>
            </div>
            <div class="row px-3">
              <div class="col">
                <ul id="progressbar">
                  <li class="step0" id="step1">PENDING</li>
                  <li class="step0 text-center" id="step2">SHIPPED</li>
                  <li class="step0 text-muted text-right" id="step3">DELIVERED</li>
                </ul>
              </div>


            </div>
            <div class="card-footer bg-white px-sm-3 pt-sm-4 px-0">
              <div class="row text-center">
                <div class="col my-auto border-line" data-bs-dismiss="modal"><h5>Close</h5></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center flex-column">
        <div class="icon-box">
          <i class="material-icons">X</i>
        </div>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p *ngIf="selectedOrder?.orderStatus === 'shipped' || selectedOrder?.orderStatus === 'delivered'">
          This order has already been shipped or delivered and cannot be canceled.
        </p>
        <p *ngIf="selectedOrder?.orderStatus !== 'shipped' && selectedOrder?.orderStatus !== 'delivered'">
          Do you really want to delete these records? This process cannot be undone.
        </p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="cancelOrder(selectedOrder._id)" [disabled]="disableDeleteButton" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>