<div
  class="container d-flex align-items-center forget-password-container"
  style="height: 100vh; width: 100%"
>
  <div class="row g-0" style="width: 100%">
    <div class="form-container">
      <div
        class="wrapper container-fluid form card-body pb-3 d-flex flex-column"
      >
        <div class="d-flex mb-5">
          <a href="" class="threadsAndBeads"
            ><h1 class="logo">Threads & Beads</h1></a
          >
        </div>
        <div class="justify-content-center">
          <form
            action=""
            [formGroup]="ResponseResetForm"
            (ngSubmit)="ResetPassword(ResponseResetForm)"
          >
            <h2>Set New Password</h2>
            <input
              _ngcontent-c0=""
              class="form-control form-control-lg"
              placeholder="Password"
              type="password"
              id="password"
              formControlName="password"
            />

            <div id="errorMsg" class="error" *ngIf="errorMessage">
              <span>{{ errorMessage }}</span>
            </div>
            <div id="successMsg" class="error" *ngIf="successMessage">
              <span>{{ successMessage }}</span>
            </div>
            <span
              *ngIf="
                !ResponseResetForm.get('password').valid && !IsResetFormValid
              "
              class="help-block"
              >Password is required with at least 6 characters.</span
            >
            <div class="d-flex justify-content-center align-items-center">
              <button type="submit">
                <img src="assets/svg/sendmail.svg" alt="" />
                <span>Update Password</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
