<section>
  <div class="banner-slider h-100 w-100 d-flex">
    <div class="banner-content h-100 w-100 position-relative">
      <div class="banner-image h-100 w-100">
        <img src="../../../assets/Images/pexels-anna-shvets-5760814.jpg" alt="Image Slider" >
      </div>
      <div class="banner-info col-12 col-md-10 col-lg-9 col-xl-8">
        <h2 class="banner-title">{{"Banner.title1.1"| translate}} <span><br>{{"Banner.title1.2"| translate}}</span></h2>
        <p class="banner-description">{{"Banner.p1"| translate}}</p>
        <a href="/workshops" class="banner-button">{{"Banner.btn1"| translate}}</a>
      </div>
    </div>

    <div class="banner-content h-100 w-100 position-relative">
      <div class="banner-image h-100 w-100">
        <img src="../../../assets/Images/banner1.jpg" alt="Image Slider" >
      </div>
      <div class="banner-info col-12 col-md-10 col-lg-9 col-xl-8">
        <h2 class="banner-title">{{"Banner.title2.1"| translate}}<br>{{"Banner.title2.2"| translate}}</h2>
        <p class="banner-description">{{"Banner.p2"| translate}}</p>
        <a class="banner-button">{{"Banner.btn2"| translate}}</a>
      </div>
    </div>

    <div class="banner-content h-100 w-100 position-relative">
      <div class="banner-image h-100 w-100">
        <img src="../../../assets/Images/banner3.jpg" alt="Image Slider">
      </div>
      <div class="banner-info col-12 col-md-10 col-lg-9 col-xl-8">
        <h2 class="banner-title">{{"Banner.title3"| translate}}</h2>
        <p class="banner-description">{{"Banner.p3"| translate}}</p>
        <a class="banner-button">{{"Banner.btn3"| translate}}</a>
      </div>
    </div>
  </div>

  <ul class="slide-dashes d-flex justify-content-center">
    <li class="active"><p></p></li>
    <li><p></p></li>
    <li><p></p></li>
  </ul>

</section>
