<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizontal Scroll</title>
</head>
<body>
  <div class="external">
      <h1 class="title text-dark text-center" style="margin-top:20px;margin-bottom: -50px;font-size:40px; font-family: 'Delicious Handrawn', cursive;">Our Workshops</h1>
        <div class="horizontal-scroll-wrapper">
            <div class="img-wrapper slower">
            <a href="" target="_blank" rel="noopener">
                <img src="/assets/Images/pexels-olga-kalinina-a10824516.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper faster">
            <a href="" target="_blank" rel="noopener">
                <img src="/assets/Images/pexels-digital-buggu-186846.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper slower vertical">
            <a href="" target="_blank" rel="noopener">
                <img src="/assets/Images/pexels-eneida-nieves-905844.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper slower slower-down">
            <a href="" target="_blank" rel="noopener">
                <img src="assets/Images/pexels-vlada-karpovich-6755860.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper">
            <a href="" target="_blank" rel="noopener">
                <img src="/assets/Images/pexels-dominika-roseclay-2089949.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper slower">
            <a href="" target="_blank" rel="noopener">
                <img src="/assets/Images/pexels-vincent-rivaud-2333855.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper faster1">
            <a href="" target="_blank" rel="noopener">
                <img src="/assets/Images/pexels-mikhail-nilov-9304551.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper slower slower2">
            <a href="" target="_blank" rel="noopener">
                <img src="assets/Images/pexels-monstera-5302891.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper">
            <a href="" target="_blank" rel="noopener">
                <img src="assets/Images/pexels-regiane-tosatti-22823.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper slower">
            <a href="" target="_blank" rel="noopener">
                <img src="/assets/Images/pexels-julie-aagaard-2766335.jpg" alt="">
            </a>
            </div>

            <div class="img-wrapper slower last">
            <a href="" target="_blank" rel="noopener">
                <img src="/assets/Images/pexels-min-an-713661.jpg" alt="">
            </a>
            </div>
        </div>
        </div>
</body>
</html>

