<div class="order" draggable="true">
  <div class="order__tags">
    <span class="order__tag order__tag--copyright">{{
      order.client_name
    }}</span>
    <span class="client-address"
      >Address: {{ order.clientAddress.city }},{{
        order.clientAddress.address
      }}</span
    >
  </div>
  <div class="example-box" *ngFor="let product of order.products">
    <p></p>
    <span>{{ product.quantity }}</span>
  </div>
  <div class="order__stats">
    <span
      ><time datetime="2021-11-24T20:00:00"
        ><i class="bi bi-flag me-1"></i
        >{{ order.orderDate | date : "dd MMMM yyyy" }}</time
      ></span
    >
    <span
      ><i class="bi bi-cash-coin me-1"></i>Total {{ order.totalPrice }}$</span
    >
  </div>
</div>
