<div class="form sign-in-form">
  <div class="wrapper">
    <form action="#">
      <h1>Sign In</h1>
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
      />
      <div class="error">{{ error.email }}</div>
      <input
        type="password"
        placeholder="password"
        [(ngModel)]="password"
        name="password"
      />
      <div class="error">{{ error.password }}</div>
      <a routerLink="/forgetPassword">Forget Password?</a>
      <button (click)="onSignInSubmit()">Sign In</button>
    </form>
  </div>
</div>
