<div class="col-12 col-md-6 mx-auto d-flex flex-column justify-content-center">
  <img src="../../../assets/Images/emptyWishList.jpg" class="empty-cart-img mx-auto col-5" alt="Empty Cart">
  <p class="fw-bold mb-0 pt-0 mt-3 text-center"style="font-size: 25px"> {{ "emptyWishList.empty" | translate }} </p>
  <p class="text-center ">{{ "emptyWishList.paragraph" | translate }}.</p>
  <div class="btns text-center">
    <button class="shop" routerLink="/products">{{ "emptyWishList.goProducts" | translate }}</button>
  </div>
</div>