<div class="product col-12 col-md-8 d-flex mx-auto">
  <div class="product-img-container">
    <img src="../../../assets/Images/close-up-beautiful-dreamcatcher.jpg" alt="">
  </div>
  <div class="product-details my-auto" style="width: auto;">
    <p class="product-name ">product Name</p>
    <p class="product-category ">Accessories</p>
    <p class="product-price ">$100</p>
  </div>
  <div class="product-status text-muted my-auto">
    In stock
  </div>
  <div class="product-actions my-auto">
    <i class="bi bi-x fs-4"></i>
  </div>
</div>