/* * {
  font-size: 1.04em;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #95a5a6;
}

img {
  height: auto;
  width: 100%;
  user-select: none;
}

.mline {
  border: 2px solid #ecf0f1;
  width: 14%;
  margin: 0 auto;
}

#wrapper {
  color: #212129;
  background-color: #fff;
  box-shadow: 0 0 7px 3px #5353553b;
  max-width: 250px;
  max-height: 360px;
  margin: 20px auto;
  position: relative;
  z-index: 0;
  text-align: center;
}

.header {
  box-shadow: inset 0 0 60px 20px rgba(0,0,0,0.5);
  min-height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  height: 100px;
}

.header img{
  height: 100%;
  width: 100%;
}

.name h1 {
  color: #ecf0f1;
  font-size: 1.1em;
}

.info {
  color: #212129;
  font-size: 0.8em;
  margin: 15px 0;
}

.button {
  margin: 20px 0;
}

.products {
  color: #212129;
  border: 2px #212129 solid;
  border-radius: 30px;
  padding: 6px 20px;
  background: #fff;
  transition: 0.5s;
  text-decoration: none;
}

.products:hover {
  color: #fff;
  border-radius: 30px;
  padding: 8px 25px;
  background: #212129;
  transition: 0.5s;
}

.stats {
  font-size: 0.75em;
  padding: 10px 0;
  background-color: #ECF0F1;
}

.stats span{
  font-size: 1em;
} */


.card {
  position: relative;
  background: #f9f1eb;
  width: 190px;
  height: 265px;
  cursor: pointer;
  transition: all .3 ease;
  overflow: visible;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}

.product {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 150px;
  background-color: #faf3e8;
  z-index: 1;
}

.product p {
  font-size: 17px;
  text-align: center;
  color: #181818;
  line-height: 150px;
}

.shine {
  position: relative;
  top: 0;
  left: 0;
  width: 190px;
  height: 265px;
  overflow: hidden;
}

.shine-effect {
  position: absolute;
  top: -15%;
  left: 150%;
  width: 25px;
  height: 400px;
  background-color: #ffffff2a;
  box-shadow: 0 0 15px 2px #ffffff42;
  transform: rotate(25deg);
  transition: all 1s cubic-bezier(0.78, 0.02, 0.5, 0.77);
  z-index: 5;
}

.pattern-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: auto;
  z-index: 2;
}

.pattern-2 {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 200px;
  height: auto;
  z-index: 2;
}

.tree {
  position: absolute;
  bottom: 1%;
  right: -2%;
  width: 100px;
  height: auto;
  transform-origin: 100% 0;
  transform: rotate(-15deg);
  z-index: 3;
}

.tape-1 {
  position: absolute;
  top: -20%;
  left: 2%;
  width: 35px;
  height: auto;
  filter: drop-shadow(1px 3px 3px #18181870);
  z-index: 6;
}

.tape-2 {
  position: absolute;
  top: -25%;
  right: 2%;
  width: 35px;
  height: auto;
  filter: drop-shadow(1px 3px 3px #18181870);
  z-index: 6;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover .tape-1 {
  transform: scale(1);
}

.card:hover .tape-2 {
  transform: scale(1);
}

.card:hover .shine-effect {
  left: -100%;
}

.card:active {
  transform: scale(1.02) translate(0, 5%);
}

.card:active .tape-1 {
  transform-origin: 0 100%;
  transform: scaleY(1.1);
}

.card:active .tape-2 {
  transform-origin: 0 100%;
  transform: scaleY(1.1);
}


.fil-tape-11 {
  fill-rule: nonzero
}

.fil-tape-21 {
  fill-rule: nonzero
}

.fil-pattern-1 {
  fill: #f3d78a00
}

.fil-pattern-2 {
  fill: #996d4700;
  fill-rule: nonzero
}

.fil0 {
  fill: #996d47
}

