.card {
  position: relative;
  background: #f9f1eb;
  width: 190px;
  height: 265px;
  cursor: pointer;
  transition: all .3 ease;
  overflow: visible;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}

.product {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 150px;
  background-color: #faf3e8;
  z-index: 1;
}

.product p {
  font-size: 17px;
  text-align: center;
  color: #181818;
  line-height: 150px;
}

.shine {
  position: relative;
  top: 0;
  left: 0;
  width: 190px;
  height: 265px;
  overflow: hidden;
}

.shine-effect {
  position: absolute;
  top: -15%;
  left: 150%;
  width: 25px;
  height: 400px;
  background-color: #ffffff2a;
  box-shadow: 0 0 15px 2px #ffffff42;
  transform: rotate(25deg);
  transition: all 1s cubic-bezier(0.78, 0.02, 0.5, 0.77);
  z-index: 5;
}

.pattern-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: auto;
  z-index: 2;
}

.pattern-2 {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 200px;
  height: auto;
  z-index: 2;
}

.tree {
  position: absolute;
  bottom: 1%;
  right: -2%;
  width: 100px;
  height: auto;
  transform-origin: 100% 0;
  transform: rotate(-15deg);
  z-index: 3;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover .shine-effect {
  left: -100%;
}

.card:active {
  transform: scale(1.02) translate(0, 5%);
}

.fil-pattern-1 {
  fill: #f3d78a00
}

.fil-pattern-2 {
  fill: #996d4700;
  fill-rule: nonzero
}

.fil0 {
  fill: #996d47
}
