<div id="wrapper">
  <div class="header">
    <div class="name">
      <h1>{{ seller.name }}</h1>
      <div class="mline"></div>
    </div>
  </div>

  <div class="info">
    <p>
      <span class="fw-bold">Alexandria, Egypt</span>
    </p>

    <p>
      <span>Crochet</span>
    </p>
  </div>

  <ul class="contacts d-flex justify-content-evenly">
    <li>
      <a href="#"><i class="bi bi-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="bi bi-google"></i></a>
    </li>
    <li>
      <a href="#"><i class="bi bi-instagram"></i></a>
    </li>
    <li>
      <a href="#"><i class="bi bi-twitter"></i></a>
    </li>
  </ul>

  <div class="button">
    <a href="#" class="products m-0">{{"SellerCard.ProductsBtn" | translate}}</a>
  </div>

  <ul class="stats d-flex justify-content-evenly">
    <li>
      <p>{{"SellerCard.Ratings" | translate}}</p>
      <span class="fw-bold">4.5</span>
    </li>
    <li>
      <p>{{"SellerCard.Products" | translate}}</p>
      <span class="fw-bold">139</span>
    </li>
    <li>
      <p>{{"SellerCard.tags" | translate}}</p>
      <span class="fw-bold">456</span>
    </li>
  </ul>
</div>
