/* Basic styling */
svg {
  width: 55%;
}
.filled-heading {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5em;
  line-height: 0.9;
}
@media (max-width: 768px) {
  .filled-heading {
    font-size: 2em;
    line-height: 0;
  }
}
/* Animate the background shapes */
#background path {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#background path:nth-of-type(2n) {
  animation: rotate 20s linear infinite;
}
#background path:nth-of-type(2n + 1) {
  animation: rotate 30s linear reverse infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
