<!-- <app-about-us></app-about-us> -->
  <router-outlet></router-outlet>
<!-- <div class="container"> -->
  <!-- <app-header></app-header> -->
  <!-- <app-animated-section></app-animated-section> -->
<!-- </div> -->
<!-- <div class="container-fluid"> -->
  <!-- <div class="row">
    <app-horizontall-scroll></app-horizontall-scroll>
  </div> -->
  <!-- <div class="row"> -->
    <!-- <router-outlet></router-outlet> -->
  <!-- </div> -->
  <!-- <div class="row">
    <app-footer></app-footer>
  </div> -->
<!-- </div> -->



