<div class="row">
  <div class="col-md-6 mb-4" *ngFor="let workshop of workshops">
    <app-workshop-card [workshop]="workshop" ></app-workshop-card>
  </div>
</div>

Workshop Card Modal
<!-- <div class="modal" *ngIf="selectedWorkshop">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedWorkshop.title }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="onCloseCardClick()"></button>
      </div>
      <div class="modal-body">
        <p>{{ selectedWorkshop.description }}</p>
        <p>Price: {{ selectedWorkshop.price }}</p>
        <p>Category: {{ selectedWorkshop.category }}</p>
        <p>Start Date: {{ selectedWorkshop.startDate | date }}</p>
        <p>End Date: {{ selectedWorkshop.endDate | date }}</p>
        <div class="row">
          <div class="col-md-6" *ngFor="let image of selectedWorkshop.image">
            <img src="{{ image.url }}" alt="{{ image.filename }}" class="img-fluid mb-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->