
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VWD295 Assignment1</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>

  <a id="button" class="fa-beat" style="z-index:99999999999;"></a>

  <div class="bgimg-1">
    <div class="caption">
      <span class="border">About us</span><br><br>
      <i class="fa fa-chevron-down fa-4x fa-beat"></i>
    </div>
  </div>

  <div style="color:#777;background-color:white;text-align:center;padding:50px 80px;text-align:justify;">
    <h3 style="text-align:center;">Threads and Beads</h3>
    <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit totam in, doloremque et dolores praesentium reiciendis necessitatibus dolor ab, officiis eligendi porro, recusandae minima. Harum possimus necessitatibus fugit cum enim?"</p>
  </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border"
        style="background-color:transparent;font-size:25px;color:#f7f7f7;text-transform:uppercase;">LESS Height</span>
    </div>
  </div>

  <!-- <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align:justify;">
      <h3 style="color:#ddd;">CSS3 Animation Explained</h3>
      <p>Define CSS Animation for users and utilize at least 1 citation here - <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations" target="_blank"
          class="textLink">Mozilla.org</a></p>

      <h4>Types of CSS Animation</h4>

      <ul>
        <details>
          <summary>Text Animation</summary>
          <div>
            <p>Animated typography can immediately capture the attention of your visitors. Of the many ways you can
              animate text on your site with CSS, adding a rainbow effect, shadow, glitch effect, and gooey effect are
              among the most common. - <a href="https://blog.hubspot.com/website/css-animation" target="_blank"
                class="textLink">hubspot.com</a></p>
          </div>
        </details>

        <details open>
          <summary>Color Animation</summary>
          <div>
            <p>CSS color animations can be applied to backgrounds, text, buttons, borders, and other elements on the
              page, making them ideal for drawing the visitor’s eye to a specific point on the page. - <a
                href="https://blog.hubspot.com/website/css-animation" target="_blank" class="textLink">hubspot.com</a>
            </p>
          </div>
        </details>

        <details>
          <summary>Slide-in Animation</summary>
          <div>
            <p>Using this CSS animation, you can have an element slide in from the top, bottom, left, or right of the
              screen to grab the visitor’s eye. You can also combine the slide-in animation with other effects to
              further customize your design. In the example below, the slide-in animation is combined with a blurred
              text effect so that the company name slowly comes into focus. - <a
                href="https://blog.hubspot.com/website/css-animation" target="_blank" class="textLink">hubspot.com</a>
            </p>
          </div>
        </details>

        <details>
          <summary>Rotate Animation</summary>
          <div>
            <p>You can use CSS to rotate an element in 2D or 3D space. This animation is often combined with other
              animations to show elements in motion. Take the example of the rocket below. It’s not only translated from
              the bottom left of the screen to the top right over a period of three seconds, but also rotated 70 degrees
              in a clockwise direction over the first two seconds. - <a
                href="https://blog.hubspot.com/website/css-animation" target="_blank" class="textLink">hubspot.com</a>
            </p>
          </div>
        </details>

        <details>
          <summary>Wave Animation</summary>
          <div>
            <p>The CSS Wave animation is a unique use case of the rotate animation. To create a CSS wave animation, you
              need to create multiple HTML objects to represent your waves. Then you’ll apply the rotate animation to
              each wave with different background colors and values for the animation-timing property. You can also
              experiment with opacity.- <a href="https://blog.hubspot.com/website/css-animation" target="_blank"
                class="textLink">hubspot.com</a></p>
          </div>
        </details>

        <details>
          <summary>Glow Animation</summary>
          <div>
            <p>CSS glow animations can contribute to the ambiance of your site. For example, to promote an event on your
              site, you might add neon glow text against a dark background to set a party mood. You can also use the
              glow effect on buttons, borders, loading animations, hover animations, and more.- <a
                href="https://blog.hubspot.com/website/css-animation" target="_blank" class="textLink">hubspot.com</a>
            </p>
          </div>
        </details>
        <details>
          <summary>Bounce Animation</summary>
          <div>
            <p>Let’s say you don’t want an element to slide in. You want it to bounce in for a grander entrance. In that
              case, you can use the CSS bounce animation. Coding this animation requires a few animation subproperties,
              including the timing and delay function, to be configured to make the element’s bounce feel more natural.-
              <a href="https://blog.hubspot.com/website/css-animation" target="_blank" class="textLink">hubspot.com</a>
            </p>
          </div>
        </details>
        <details>
          <summary>Fade-in Animation</summary>
          <div>
            <p>Using CSS, you can add the fade-in animation to images and text on your site. Below you’ll see an image
              gradually appear from the top of the screen. This animation is particularly effective with this image
              because it mimics the motion of a boat lazily drifting down a river. - <a
                href="https://blog.hubspot.com/website/css-animation" target="_blank" class="textLink">hubspot.com</a>
            </p>
          </div>
        </details>

        <details>
          <summary>Hover Animation</summary>
          <div>
            <p>To enhance your site’s interactivity, you can create a CSS hover animation. This type of animation occurs
              when a site visitor hovers over an element on the page. You can have elements zoom, flip, rotate, or even
              stop playing on hover. In the example below, the CTA button changes in size and lets off some sparks when
              the visitor hovers. - <a href="https://blog.hubspot.com/website/css-animation" target="_blank"
                class="textLink">hubspot.com</a></p>
          </div>
        </details>

        <details>
          <summary>Infinite Loading Animation</summary>
          <div>
            <p>When visiting some sites, you’ll watch them slowly load: usually the title comes first, then the plain
              body text comes, then the images, and so on. On other sites, that process will be hidden and instead,
              you’ll see an animation. The infinite loading animation is just one of the three website loading
              animations you can make in CSS to help reduce the user’s perception of waiting. Since this type of
              animation lets visitors know the site is loading without specifying how long they’ll have to wait, this is
              perfect when load time is unknown. - <a href="https://blog.hubspot.com/website/css-animation"
                target="_blank" class="textLink">hubspot.com</a></p>
          </div>
        </details>

        <details>
          <summary>Parallax Scrolling</summary>
          <div>
            <p>Parallax scrolling is a visual technique in which elements in the background move at a different speed
              than the foreground as you scroll. This creates an illusion of depth or a “faux-3D effect” that’s intended
              to make your visitor’s browsing experience more interesting. - <a
                href="https://blog.hubspot.com/website/css-animation" target="_blank" class="textLink">hubspot.com</a>
            </p>
          </div>
        </details>
      </ul>
      <br>
      <h4>Improving User Experience</h4>
      <p>By implimenting annimaions in purpose driven and user centric ways you can improve the user expeirence.
        Creating animations that help the user to complete tasks or find assets on the page are a great way to accompish
        this. Adding suble super simple animations that invite the user to interact with the website and keep them
        wanting more is our goal. Stephanie Walter wrote an excellent article with detailed examples entitled "Enhancing
        User Experience With CSS Animations", it is worth the visit. - <a
          href="https://stephaniewalter.design/blog/enhancing-user-experience-with-css-animations/" target="_blank"
          class="textLink">stephaniewalter.design</a></p> -->

      <!-- dont need references if you included it in above-->

      <!-- <div class="exampleContainer">
        <div class="exampleCSS">
          <h1 style="padding:100px;">Hello, Creative Friends!</h1>
        </div>
      </div>


    </div>
  </div> -->

  <div class="bgimg-3">
    <div class="caption">
      <span class="border"
        style="background-color:transparent;font-size:25px;color:#f7f7f7;text-transform:uppercase;">scroll up</span>
    </div>
  </div>
<!-- 
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align:justify;">
      <h3 style="color:#ddd;">JavaScript Animation Explained</h3>
      <h4>Defining JavaScript Animation</h4>
      <p>Define JS Animation for users and utilize at least 1 citation here - <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations" target="_blank"
          class="textLink">Mozilla.org</a></p>

      <h4>Improving User Experience</h4>
      <p>Create a paragraph – Explain how JavaScript Animation can be used to improve the user experience and utilize a
        least 1 citation - <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations" target="_blank"
          class="textLink">Mozilla.org</a></p>


      <div class="exampleJS">
        <h2>JavaScript Animation</h2>
        <hr>
        <button class="btn btn-1" id="clickBtn" onclick="myMove()">JS Button</button>
        <p id="Text"></p>
      </div>

      <div class="color">
        <div id="animate"></div>
      </div>

    </div>
  </div> -->

  <div class="bgimg-4">
    <div class="caption">
      <span class="border"
        style="background-color:transparent;font-size:25px;color:#f7f7f7;text-transform:uppercase;">LESS Height</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align:justify;">
      <h3 style="color:#ddd;">Navigation</h3>
      <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>

      <button class="btn btn-1" onclick="btn1()">My HTML & CSS Toolbox</button>

      <button class="btn btn-2" onclick="btn2()">My JavaScript Toolbox</button>

      <p>See my killer animated back to top button providing a great user experience!</p>

    </div>
  </div>

  <div class="bgimg-1">
    <div class="caption">
      <span class="border">THANKS FOR VISITING!</span>
    </div>
  </div>

  <!--jQuery CDN link-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'> </script>

  <script src="js/script.js"></script>
</body>
