<div class="container-fluid" style="margin-top: 150px;margin-bottom:150px;">


  <a id="button" class="fa-beat" style="z-index:99999999999;"></a>

  <div class="bgimg-1">
    <div class="caption" >
      <span class="border">{{"AboutUs.title" | translate}}</span><br><br>
      <i class="fa fa-chevron-down fa-4x fa-beat"></i>
    </div>
  </div>

  <div style="color:#777;background-color:white;text-align:center;padding:50px 80px;text-align:justify;">
    <p class="text text-center mt-5">{{"AboutUs.slogan" | translate}}</p>
  </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border middleSpan"
        style="background-color:transparent;font-size:25px;color:#000;text-transform:uppercase;">{{"AboutUs.canva" | translate}}</span>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="caption">
      <span class="border middleSpan"
        style="background-color:transparent;font-size:25px;color:#000;text-transform:uppercase;">{{"AboutUs.Fiber" | translate}}
</span>
    </div>
  </div>

  <div class="bgimg-4">
    <div class="caption">
      <span class="border middleSpan"
        style="background-color:transparent;font-size:25px;color:#000;text-transform:uppercase;">{{"AboutUs.Jewelry" | translate}}</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#000;background-color:#F6EEC9;text-align:center;padding:50px 80px;text-align:justify;">
<p class="text text-center">{{"AboutUs.brief" | translate}}</p>

    </div>
  </div>

  <div class="bgimg-1">
    <div class="caption">
      <span class="border">{{"AboutUs.thankyou" | translate}}</span>
    </div>
  </div>

  <!--jQuery CDN link-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'> </script>

  <script src="js/script.js"></script>
</div>