<div class="container-fluid" style="margin-top: 150px;">


  <a id="button" class="fa-beat" style="z-index:99999999999;"></a>

  <div class="bgimg-1">
    <div class="caption" >
      <span class="border">About us</span><br><br>
      <i class="fa fa-chevron-down fa-4x fa-beat"></i>
    </div>
  </div>

  <div style="color:#777;background-color:white;text-align:center;padding:50px 80px;text-align:justify;">
    <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit totam in, doloremque et dolores praesentium reiciendis necessitatibus dolor ab, officiis eligendi porro, recusandae minima. Harum possimus necessitatibus fugit cum enim?"</p>
  </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border"
        style="background-color:transparent;font-size:25px;color:#000;text-transform:uppercase;">LESS Height</span>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="caption">
      <span class="border"
        style="background-color:transparent;font-size:25px;color:#000;text-transform:uppercase;">scroll up</span>
    </div>
  </div>

  <div class="bgimg-4">
    <div class="caption">
      <span class="border"
        style="background-color:transparent;font-size:25px;color:#000;text-transform:uppercase;">LESS Height</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#456268;text-align:center;padding:50px 80px;text-align:justify;">
      <h3 style="color:#ddd;">Navigation</h3>
      <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>

      <button class="btn btn-1" onclick="btn1()">My HTML & CSS Toolbox</button>

      <button class="btn btn-2" onclick="btn2()">My JavaScript Toolbox</button>

      <p>See my killer animated back to top button providing a great user experience!</p>

    </div>
  </div>

  <div class="bgimg-1">
    <div class="caption">
      <span class="border">THANKS FOR VISITING!</span>
    </div>
  </div>

  <!--jQuery CDN link-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'> </script>

  <script src="js/script.js"></script>
</div>