<section>
  <div class="banner-slider h-100 w-100 d-flex">
    <div class="banner-content h-100 w-100 position-relative">
      <div class="banner-image h-100 w-100">
        <img src="../../../assets/Images/banner2.jpg" alt="Image Slider" >
      </div>
      <div class="banner-info col-12 col-md-10 col-lg-9 col-xl-8">
        <h2 class="banner-title">unlock <span><br>your potential</span></h2>
        <p class="banner-description">Discover your creativity, and learn from the best with our affordable workshops</p>
        <a class="banner-button">Book Now</a>
      </div>
    </div>

    <div class="banner-content h-100 w-100 position-relative">
      <div class="banner-image h-100 w-100">
        <img src="../../../assets/Images/banner1.jpg" alt="Image Slider" >
      </div>
      <div class="banner-info col-12 col-md-10 col-lg-9 col-xl-8">
        <h2 class="banner-title">Shop Our Handmade<br>Treasures</h2>
        <p class="banner-description">Discover our collection of unique handmade projects, each one crafted with love and care. From statement jewelry to cozy knitwear, add a touch of personality to your home or wardrobe with our handmade treasures.</p>
        <a class="banner-button">Shop Now</a>
      </div>
    </div>

    <div class="banner-content h-100 w-100 position-relative">
      <div class="banner-image h-100 w-100">
        <img src="../../../assets/Images/banner3.jpg" alt="Image Slider">
      </div>
      <div class="banner-info col-12 col-md-10 col-lg-9 col-xl-8">
        <h2 class="banner-title">Share Your Passion for Handmade</h2>
        <p class="banner-description">Connect with passionate crafters from around the world and unleash your creativity with us.</p>
        <a class="banner-button">Join Now</a>
      </div>
    </div>
  </div>

  <ul class="slide-dashes d-flex justify-content-center">
    <li class="active"><p></p></li>
    <li><p></p></li>
    <li><p></p></li>
  </ul>
</section>