<section>
  <div class="container">
    <app-signin></app-signin>
    <app-signup></app-signup>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-left">
          <h1>Create Account</h1>
          <p>or</p>
          <button id="signInButton">Log In</button>
        </div>
        <div class="overlay-right">
          <h1>Please, Log In</h1>
          <p>or</p>
          <button id="signUpButton">Create Account</button>
        </div>
      </div>
    </div>
  </div>
</section>

