button{
  padding: 10px 50px;
  border: 2px solid #456268;
  margin: 5px;
  border-radius: 5px;
}

.goBack{
  background-color: transparent;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.goBack:hover{
  background-color: #456268;
  color: white;
}

.shop{
  background-color: #456268;
  color: white;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.shop:hover{
  background-color: transparent;
  color: black;
}
