<div class="container" style="margin-top: 150px">
  <div class="row d-flex flex-wrap">
    <app-sellercard
      *ngFor="let seller of sellerService.sellers"
      class="pdtCard col-12 col-md-4 col-lg-3"
      [seller]="seller"
    ></app-sellercard>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <button (click)="previous()" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li
        class="page-item"
        *ngFor="let page of pages"
        (click)="navToPage(page)"
      >
        <button class="page-link">{{ page }}</button>
      </li>
      <li class="page-item">
        <button (click)="next()" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
