.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image:  url(/assets/Images/pexels-giovana-spiller-6679220.jpg);
  background-size: cover;
  background-repeat: no-repeat
}

body {
  background: #654ea3;
  background: linear-gradient(to right, #e96443, #904e95);
  height: 100vh;
  overflow-x:hidden;
}

span{
  font-weight: 500;
  /* display: block; */
}
.inline{
  display: inline;
}
.avatar-container {
  position: relative;
  /* width: 50%; */
}

.img {
opacity: 1;
display: block;
/* width: 100%; */
/* height: auto; */
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 13%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
width: 130px;
}


.avatar-container:hover{
  opacity: 0.8;
  filter: brightness(60%);
}
.avatar-container:hover .middle {
 opacity: 1;
 filter: brightness(150%);
}
.avatar-button a{
  color: white;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;

}
.avatar-button:hover a{
  opacity: 1;
  filter: brightness(150%);
}
.modal-body{
  text-align: center;
}
.modal{
  border-radius: 4px;
}
.modal-header {
  border: none;
}

.modal-body {
  border: none;
  justify-content: center;

}
.modal-footer{
  border: none;
  justify-content: center;
  padding-bottom: 2px;
}
.modal-dialog{
margin: 170px auto;
width: fit-content;
height: fit-content;
display: flex;
justify-content: space-between;
}
.modal-content{
  /* width: 350px; */
  /* padding: 5px; */
  /* height: 200px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: fit-content;
  width: fit-content;
}
.modal-title{
  text-align: center;
  /* padding-left: 10px; */
  width: fit-content;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.centered {
  text-align: center;
}
.browse-btn {
  color: #456268;
  cursor: pointer;
}
.modal-footer{
  /* color: white;
  background-color: #8b1d1d;
  color: white; */

}
.modal-footer button{
  background-color: #8b1d1d;
  color: white;
}





.svg-container {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
}

.svg-header {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.svg-header svg {
  height: 100px;
}

.svg-header p {
  text-align: center;
  color: black;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}

.bi {font-size: 30px;}
.bi:hover {opacity:0.75;transition:225ms;}
.bi-facebook {color: #1F3A93;transition:350ms;}
.bi-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* .revenue-card{
background-color: #f6eec9;
height: 70px;
padding: 0.6rem !important;
}
.revenue-card .card-body{
padding: 0 !important;
}
.revenue-img{
  width: 50px;
  height: 50px;
}
.revenue-card span{
  font-weight: bold;

} */
.revenue-card{
  background-color: rgb(98, 0, 0);
    color:#fff ;
   font-family: "Delicious Handrawn", cursive !important;
   border-radius: 1.5rem;
   border: none !important;
   transition: all .6s;
   max-height: 80px;
}
.media-body span{
  font-size: 1.6rem;
}
.revenue-card:hover{
  scale: 1.1;
}
.bi-rocket-fill,.bi-piggy-bank-fill{
  color: #fff;
}

.test{
  width: 50px;
  height: 50px;
}