


.threadsAndBeads{
  text-decoration: none;
  color: #040f0f;
  font-family: 'Delicious Handrawn', cursive;
}
.forget-password-container-all{
  width: 100%;
}
.form-container{
  width: 100%;
  position: relative;
  /* filter: blur(2px); */
}

.form {
    /* position: absolute; */
    padding: 0 50px;
    display: flex;
    min-height: 450px;
    width: 70%;
    align-items: center;
    justify-content: center;
    background-color: #f6f5f7;
  }


  .form h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #be6a56;
  }


  .form input {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    height: 3rem;
    font-family: "Montserrat";
    font-size: 1.5rem;
    padding-left: 15px;
    border: none;
    background-color: rgba(199, 197, 197, 0.425);
    outline: none;
    border-radius: 0.8rem;
  }

  .form input::placeholder {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.658);
  }

  .form button {
    padding: 10px 50px;
    border: none;
    outline: none;
    font-family: "Montserrat";
    font-size: 18px;
    background-color:#456268;
    cursor: pointer;
    color: #f6f5f7;
    font-size: 1.3rem;
  }

  .error{
    display: block;
    width: fit-content;
    margin-left: 5px;
    font-family: "Montserrat";
    font-size: 14px;
    padding-left: 25px;
    color: red;
    text-align: center;
    position: relative;
  }

  button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    /* background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }

  button img {
    margin-right: 3px;
    width:24px;
    height:24px;

    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  button:hover img {
    transform: translateX(5px) rotate(90deg);
  }

  button:hover span {
    transform: translateX(7px);
  }

  /*  */

    .wrapper {
      height: 200px;
    }

    .cloud {
      overflow: hidden;
      padding: 5px;
      height: 50px;
    }

    .cloud_left {
      position: relative;
      float: left;
      background-color: #234;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    }

    .cloud_right {
      position: relative;
      float: left;
      background-color: #203040;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      top: 15px;
      left: -30px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    }

    .rain {
      width: 180px;
      height: 140px;
    }

    .drop {
      position: relative;
      float: left;
      width: 2px;
      margin: 10px;
      left: 20px;
      background: #789;
      box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.75);
      animation: rain_401 0.8s infinite ease-out;
    }

    .drop:nth-child(1) {
      height: 15px;
      top: 5px;
      animation-delay: -1.0s;
    }

    .drop:nth-child(2) {
      height: 20px;
      animation-delay: -1.4s;
    }

    .drop:nth-child(3) {
      height: 15px;
      top: 5px;
      animation-delay: -1.6s;
    }

    .drop:nth-child(4) {
      height: 10px;
      top: 10px;
      animation-delay: -1.2s;
    }

    .drop:nth-child(5) {
      height: 5px;
      top: 15px;
      animation-delay: -1.6s;
    }

    @keyframes rain_401 {
      0% {
        opacity: 1;
        transform: translate(0, 0);
      }

      100% {
        opacity: 0.2;
        transform: translate(0, 100px);
      }
    }

    .surface {
      position: relative;
      width: 180px;
      height: 140px;
      top: -140px;
    }

    .hit {
      position: absolute;
      width: 3px;
      height: 1px;
      margin: 10px;
      bottom: -5px;
      border: 1px solid #456;
      border-radius: 50%;
      animation: hit_401 0.8s infinite ease;
    }

    .hit:nth-child(1) {
      left: 19px;
      animation-delay: -0.3s;
    }

    .hit:nth-child(2) {
      left: 41px;
      animation-delay: -0.7s;
    }

    .hit:nth-child(3) {
      left: 63px;
      animation-delay: -0.9s;
    }

    .hit:nth-child(4) {
      left: 85px;
      animation-delay: -0.5s;
    }

    .hit:nth-child(5) {
      left: 107px;
      animation-delay: -0.9s;
    }

    @keyframes hit_401 {
      0% {
        opacity: 0.75;
        transform: scale(1);
      }

      100% {
        opacity: 0;
        transform: scale(2.5);
      }
    }


    