<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="row g-0">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <img
        class="img-fluid rounded-start"
        src="assets/svg/forget-password.svg"
        alt=""
      />
    </div>
    <div class="wrapper container-fluid form col-md-8 card-body pb-3">
      <form
        action=""
        [formGroup]="RequestResetForm"
        (ngSubmit)="RequestResetUser(RequestResetForm)"
      >
        <h1>Forgot Password</h1>
        <input
          type="email"
          placeholder="Email"
          name="email"
          formControlName="email"
        />
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="error" *ngIf="successMessage">{{ successMessage }}</div>
        <span
          *ngIf="!RequestResetForm.get('email').valid && !IsvalidForm"
          class="help-block text-center"
          >Please enter a valid email!</span
        >
        <div class="d-flex justify-content-center align-items-center">
          <button type="submit">
            <img src="assets/svg/sendmail.svg" alt="" />
            <span>Send Email</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
