<div class="container vh-100 w-100 d-flex justify-content-between mt-5 px-3 mb-5">
  <div class="section py-5">
    <h2>Meet Our Unique Sellers</h2>
    <hr class="center-ball">
    <p>Our marketplace is home to a diverse range of independent sellers, each with their own unique story and special product offerings. From handmade jewelry to vintage clothing, our sellers are passionate about what they do and are committed to providing our customers with the highest quality products.</p>

  </div>
  <div class="wrapper">
    <img src="../../../assets/Images/pexels-amina-filkins-5409703.jpg" alt="" srcset="" id="img1">
    <img src="../../../assets/Images/pexels-cottonbro-studio-3738098.jpg" alt="" srcset="" id="img2">
  </div>
</div>
