<div class="modal fade h-60" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #myModal *ngIf="!hasErrors">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>


      </div>
      <div class="container d-flex justify-content-center text-center">
        <h5 class="modal-title" id="exampleModalLabel"><img alt="lastbit" width="200" src="https://i.imgur.com/LXjRs5h.gif"></h5>
      </div>
      <div class="modal-body">
        Almost there! We just need you to verify your email address to finish signing up.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
<div class="form sign-up-form active">
  <div class="wrapper">
    <form action="#">
      <h1>Sign up</h1>
      <input
        type="text"
        placeholder="Full Name"
        [(ngModel)]="name"
        name="name"
      />
      <div class="error">{{ error.name }}</div>
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
      />
      <div class="error">{{ error.email }}</div>
      <input
        type="password"
        placeholder="password"
        [(ngModel)]="password"
        name="password"
      />
      <div class="error">{{ error.password }}</div>
      <select name="type" id="type" [(ngModel)]="type">
        <option value="" disabled selected>Select account type</option>
        <option value="customer">Customer</option>
        <option value="seller">Seller</option>
      </select>
      <div class="error">{{ error.type }}</div>
      <button (click)="onSignUpSubmit()">Sign Up</button>
      <!-- <button class="btn btn-primary fb-btn" (click)="fbLogin()">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> Login
        With Facebook
      </button> -->
    </form>
  </div>

</div>
