<div class="form sign-up-form active">
  <div class="wrapper">
    <form action="#">
      <h1>Sign up</h1>
      <input type="text" placeholder="Full Name" [(ngModel)]="name" name="name">
      <div class="error">{{ error.name }}</div>
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
      <div class="error">{{ error.email }}</div>
      <input type="password" placeholder="password" [(ngModel)]="password" name="password">
      <div class="error">{{ error.password }}</div>
      <select name="type" id="type" [(ngModel)]="type">
        <option value="" disabled selected>Select account type</option>
      <option value="customer">Customer</option>
      <option value="seller">Seller</option>
      </select>
      <div class="error">{{ error.type }}</div>
      <button (click)="onSignUpSubmit()">Sign Up</button>
    </form>
  </div>
</div>