<div class="w-100 d-flex flex-column" style="padding-top: 85px">
  <div class="workshop-cover">
    <div class="workshop-header">
      <h1>{{ "WorkshopsPage.Header" | translate }}</h1>
      <p>
        {{ "WorkshopsPage.paragraph" | translate }}
      </p>
    </div>
  </div>
  <div class="mt-5 mx-3">
    <app-workshop-card
      *ngFor="let workshop of workshops"
      class="pdtCard col-12 d-flex"
      [workshop]="workshop"
    ></app-workshop-card>
  </div>
  <nav aria-label="Page navigation example" class="align-self-center">
    <ul class="pagination">
      <li class="page-item">
        <button (click)="previous()" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li
        class="page-item"
        *ngFor="let page of pages"
        (click)="navToPage(page)"
      >
        <button class="page-link">{{ page }}</button>
      </li>

      <li class="page-item">
        <button (click)="next()" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
