<app-workshop-header></app-workshop-header>
<div class="container">
  <div class="row d-flex flex-column flex-wrap">
    <app-workshop-card
      *ngFor="let workshop of workshops"
      class="pdtCard col-12"
      [workshop]="workshop"
    ></app-workshop-card>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <button (click)="previous()" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li
        class="page-item"
        *ngFor="let page of pages"
        (click)="navToPage(page)"
      >
        <button class="page-link">{{ page }}</button>
      </li>

      <li class="page-item">
        <button (click)="next()" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
