/* .checkout-container-all{

    background-color: rgb(239, 239, 239);
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.checkout-container h3 {
    font-family: "Inter",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
} */
.checkout-panel {
  /* display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2); */
}

.cartTotalsForm,
.cartTotalPrices{
  border: 1px solid #e8e8e8;
}
 .bi{
  cursor: pointer;
  margin: auto 0;
}

.bi-dash,
.bi-plus{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bi-dash{
  left: 25px;
}

.bi-plus{
  left: 95px;
}

.radio-input {
  margin-top: 20px;
  color: #fff;
}

input[type='radio'] {
  display: inline-block;
}

.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #838282;
}

.info {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 50px;
  opacity: .5;
  color: #2e2e2e;
}

input[type='text'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, .8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}

input[type='text']:focus{
  border-color: none
}


.cartTotalPrices{
  font-size: 14px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 100%;
}

.small-inputs {
  display: flex;
  margin-top: 20px;

}

.small-inputs div {
  width: 50%;

}

/*
.blue-border {
  border: 1px solid  rgb(69, 98, 104,0.65);
} */
.order-container{
  /* background-color:#ECEFF3; */
}
.order-details{
font-size: 1.2em;
}
input[type="radio"] {
  /* opacity: 0; */
  position: absolute;
  pointer-events: none;
  background: linear-gradient(360deg, #fff 0%, rgba(255,255,255,0) 100%),#F2F2F2;
  border: 1px solid rgba(0,0,0,0.11);
  box-sizing: border-box;
  margin-left: 4px;
  margin-top: 18px;
  z-index: -1;
  width: 18px;
  height: 18px;
}
.wc_payment_method label {
  margin: 0 0 10px;
  background: rgb(69, 98, 104,0.33);
  padding: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  font-weight: 600;
  width: 100%;
}

/* .payment_method_paypal label:before ,.payment_method_cash label:before{
  content: "";
  position: relative;
  vertical-align: middle;
  display: inline-block;
  font-size: 0;
  min-width: 18px;
  height: 18px;
  top: -1px;
  left: 0;
  margin-right: 4px;
  background: linear-gradient(360deg, #fff 0%, rgba(255,255,255,0) 100%),#F2F2F2;
  border: 1px solid rgba(0,0,0,0.11);
  box-sizing: border-box;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.25s;
}
.payment_method_paypal input:checked+label:after ,.payment_method_cash input:checked+label:after{
  content: "";
  background: #743333;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 20px;
  top: 22px;
  border-radius: 10px;
  opacity: 1;
  transition: 0.35s cubic-bezier(0.35, 1.35, 0.5, 1);
} */
.toCheckout {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.toCheckout::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;

  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.toCheckout .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.toCheckout .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.toCheckout .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.toCheckout .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.toCheckout:hover {
  color: white;
  background: black;
}

.toCheckout:hover::before {
  width: 0.9375rem;
  background: white;
}

.toCheckout:hover .text {
  color: white;
  padding-left: 1.5em;
}

.toCheckout:hover .top-key {
  left: -2px;
  width: 0px;
}

.toCheckout:hover .bottom-key-1,
.toCheckout:hover .bottom-key-2 {
  right: 0;
  width: 0;
}


/* Modal styles */
.success-modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
}

.success-modal-content {
background-color: #fff;
padding: 20px;
border-radius: 4px;
max-width: 400px;
text-align: center;
}

.success-modal h2 {
margin-top: 0;
}

.success-modal p {
margin-bottom: 20px;
}

.success-modal-close-btn {
padding: 10px 20px;
background-color: #ccc;
border: none;
border-radius: 4px;
cursor: pointer;
}
.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  position:relative;
  top: 5px;
  right: 5px;
 margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
      transform: none;
  }

  50% {
      transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}
.track-btn{
  padding: 10px 20px;
  background-color: #35ad00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  margin-right: 8px;
}
