/* .workshop-card-color-1 {
  background-color: #a20a0a;
}

.workshop-card-color-2 {
  background-color: #8daa91;
}

.workshop-card-color-3 {
  background-color: #888da7;
} */

.card__img {
  display: block;
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.card__content {
  padding: 1.5rem 1rem;
}

.card__header {
  font-family: "Delicious Handrawn", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #0d0d0d;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card__description {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card__text {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  margin-bottom: 0.8rem;
}

a.delete-btn,
a.edit-btn {
  display: inline-block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #212121;
  transition: all 0.2s ease-in-out;
  margin-left: 4px;
}
a.delete-btn:hover,
a.delete-btn:active,
a.delete-btn:focus {
  border-color: #ff0000;
  background: #ff0000;
  color: #fff;
  text-decoration: none;
}
a.edit-btn:hover,
a.edit-btn:active,
a.edit-btn:focus {
  border-color: #006eff;
  background: #006eff;
  color: #fff;
  text-decoration: none;
}
.red {
  color: #f44336;
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
}






.modal-confirm {
  color: #636363;
  width: 400px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
  color: #999;
}
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-confirm .btn-info {
  background: #c1c1c1;
}
.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
