<div
  class="workshop-card col-lg-4 col-md-6 col-sm-12"
  [ngClass]="'workshop-card-color-' + (index % 3)"
>
  <img [src]="workshop.image" />
  <div class="d-flex flex-column h-100">
    <h1>{{ workshop.title }}</h1>
    <span class="card-description subtle">{{ workshop.description }}</span>
    <div class="wcf-right align-self-end m-2">
      <a
        href="#myModal"
        class="delete-btn"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
        (click)="workshopIdToDelete = workshop._id"
      >
        <i class="bi bi-trash"></i
      ></a>
      <a class="edit-btn" [routerLink]="['/seller/editWorkshop', workshop._id]">
        <i class="bi bi-pen"></i
      ></a>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>
          Do you really want to delete these records? This process cannot be
          undone.
        </p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteWorkshop(workshopIdToDelete)"
          data-bs-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
